$primary: #23967F;
$secondary: #284B63;
$action: #89C3B5;
$success: #56AD9A;
$warning: #E3D87E;
$danger: #FFA69E;
$info: #35A7FF;

$surface-ground: #EEF0EB;
$surface-100: #FFFFFF;

$text-dark: #292E1E;