fieldset {
  border: solid thin;
  @apply rounded-lg;
  @apply border-base-200;
}
legend {
  @apply bg-base-100;
}

.shortcut {
  opacity: 0.2;
  transition-duration: 500ms;
  &:hover {
    opacity: 1;
  }
}

.frosted {
  border: solid 1px #ffffff10;
  backdrop-filter: blur(6px);
  &:before {
    border-radius: 4px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.05;
    background: rgb(255,255,255);
    background: linear-gradient(54deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.3) 78%, rgba(255,255,255,0) 100%);  }
}